@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Muli', sans-serif;
    overflow: hidden;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: #f5f5dc;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 100%;
    display: flex;
    padding: 0 15px;
}

.slide {
    height: 80vh;
    border: 0.6px solid #E7E7C8;
    border-radius: 15px;
    flex: 1;
    margin: 10px;
    color: lightgrey;
    cursor: pointer;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    transition: all 600ms ease-in-out;
}

.slide h3 {
    position: absolute;
    font-size: 18px;
    opacity: 0;
    bottom: 15px;
    left: 15px;
    margin: 0;
}

.slide.active {
    flex: 10;
}

.slide.active h3{
    opacity: 1;
    transition: opacity 0.4s ease-in 0.3s;
}